
@{
    if(ViewBag.edit!=null){
        ViewBag.Title = "Update Info";
    }

    else { 
        ViewBag.Title = "SignUp";
    }
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        function PreviewImage() {
            //document.getElementById("imgDisp").setAttribute("style", "z-index:3;height:200px;width:200px");
            $('#imgDisp').css("z-index", "3");
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("image1").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("imgDisp").src = oFREvent.target.result;
            };
        };

    </script>
}
@{
    ViewBag.tmpImg = ViewBag.ImgName;
}
<div>
    <div class="col-lg-12 ">
        <center>
            <h1>@(ViewBag.edit!=null ? "Update Info" : "Sign UP")</h1>
        </center>
    </div>
    <div class="col-lg-12">
        <form method="post" action="@(ViewBag.edit!=null ? "/User/Edit" : "/User/SignUp")" enctype="multipart/form-data">
            <div class="col-lg-4 col-lg-offset-1">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="hidden" name="UserID" value="@ViewBag.ID" class="form-control">
                        <label>Name</label>
                        <input type="text" required name="Name" value="@ViewBag.Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Login</label>
                        <input type="text" required name="Login" value="@ViewBag.Login" class="form-control">
                    </div>
                    @{
                        if (@ViewBag.edit == null)
                        {
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" required name="Password" value="@ViewBag.Pass" class="form-control">
                            </div>
                        }
                    }
                    
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" required name="Email" value="@ViewBag.Email" class="form-control">
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-3">
                <div style="border:1px solid black; height:201px; width:201px;background:grey;">
                    @{
                        if (ViewBag.edit != null)
                        {
                            <input type="hidden" name="PictureName" value="@ViewBag.ImgName" />
                            <img src="@Url.Content("/UploadedFiles/" + ViewBag.ImgName)" alt="profile image" style="position: relative; z-index: 3; height: 200px; width: 200px" id="imgDisp" /><br />
                        }
                        else
                        {
                            <img src="@Url.Content("/UploadedFiles/" + ViewBag.ImgName)" alt="profile image" style="position: relative; z-index: -1; height: 200px; width: 200px" id="imgDisp" /><br />
                        }
                    }

                </div>
                <div class="col-lg-12">
                    <br />
                </div>
                
                <input type="button" class="btn btn-default btn-md" value="Upload Image" onclick="document.getElementById('image1').click();" />
                <input type="file" style="display:none;" onchange="PreviewImage();" id="image1" name="image1" />
            </div>
            <div class="col-lg-11 col-lg-offset-1">

                <h5 style="color:red">@ViewBag.MSG</h5>
                <br />
            </div>
            <div class="col-lg-8 col-lg-offset-4">
                <input type="submit" value="@(ViewBag.edit!=null ? "Update" : "Create")" name="usersavebtn" class="btn btn-md btn-default" />
                <input type="reset" class="btn btn-md btn-default" value="Clear"><br />
            </div>
            <div class="col-lg-12">
                <br />
            </div>
        </form>

    </div>
</div>